<div class="space-y-4">
  <%= turbo_stream_from MCPServer %>

  <%= helpers.turbo_frame_tag Settings::MCPServersDatatableComponent.frame_id,
                              src: helpers.mcp_servers_path do %>
    <%= helpers.turbo_frame_tag Settings::MCPServersDatatableComponent.results_frame_id do %>
      <div class="flex items-center justify-center py-8">
        <span class="loading loading-spinner loading-md"></span>
      </div>
    <% end %>
  <% end %>
</div>

<% header do %>
  <%= helpers.link_to new_mcp_server_path,
                      class: "btn btn-primary btn-sm",
                      data: { turbo_stream: true } do %>
    <span class="icon-[lucide--plus] h-4 w-4"></span>
    <%= t(:label_new) %>
  <% end %>
<% end %>
