<div class="space-y-4">
  <%= f.input :debug, as: :boolean %>
  <%= f.input :request_timeout %>

  <%= f.simple_fields_for :providers do |pf| %>
    <%= pf.simple_fields_for :openai do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :anthropic do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :gemini do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :mistral do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :perplexity do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :xai do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :openrouter do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :deepseek do |of| %>
      <%= of.input :api_key, input_html: { autocomplete: "off" } %>
    <% end %>

    <%= pf.simple_fields_for :ollama do |of| %>
      <%= of.input :api_base %>
    <% end %>

    <fieldset class="border border-base-300 rounded-lg p-4">
      <legend class="px-1 font-semibold text-sm">Vertex AI</legend>
      <div class="space-y-3">
        <%= pf.simple_fields_for :vertexai do |of| %>
          <%= of.input :project_id, input_html: { autocomplete: "off" } %>
          <%= of.input :location, input_html: { autocomplete: "off" } %>
        <% end %>
      </div>
    </fieldset>

    <fieldset class="border border-base-300 rounded-lg p-4">
      <legend class="px-1 font-semibold text-sm">Bedrock</legend>
      <div class="space-y-3">
        <%= pf.simple_fields_for :bedrock do |of| %>
          <%= of.input :api_key, input_html: { autocomplete: "off" } %>
          <%= of.input :secret_key, input_html: { autocomplete: "off" } %>
          <%= of.input :region, input_html: { autocomplete: "off" } %>
          <%= of.input :session_token, input_html: { autocomplete: "off" } %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</div>
