  <button class="btn btn-ghost" popovertarget="user-selector" style="anchor-name:--anchor-user-selector">
    <span class="font-bold"><%= current_user&.name || "Select User" %></span>
    <%= avatar_for(current_user) %>
  </button>
  <ul class="dropdown menu p-3 shadow bg-base-100 rounded-box w-52 mt-1" popover id="user-selector" style="position-anchor:--anchor-user-selector; position-area: bottom span-left">
    <% user_options.each do |character| %>
      <li>
        <%= link_to select_user_path(user_id: character.id), data: { turbo_method: :post }, class: "flex items-center gap-2" do %>
          <%= avatar_for(character) %>
          <%= character.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
