<%= simple_form_for @mcp_server, html: { class: "space-y-5" } do |f| %>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
    <%= f.input :name, input_html: { autofocus: true } %>
    <%= f.input :key, input_html: { readonly: @mcp_server.persisted? } %>
    <%= f.input :transport_type,
                collection: MCPServer::TRANSPORT_TYPES,
                include_blank: false %>
  </div>

  <%= f.input :config_json,
              as: :text,
              input_html: {
                rows: 12,
                class: "font-mono text-xs",
                data: {
                  controller: "code-mirror",
                  code_mirror_language_value: "json"
                }
              } %>
<% end %>
