<div class="grid grid-rows-[auto_1fr_auto] h-screen gap-4 p-4 relative min-h-screen bg-base-200">
  <header class="flex items-end relative z-10">
    <div class="flex-1">
      <div class="relative pl-4">
        <%= image_tag "logo_dark.png", class: "logo-dark h-10", alt: "" %>
        <%= image_tag "logo_light.png", class: "logo-light h-10", alt: "" %>
      </div>
    </div>
    <button class="btn btn-ghost" popovertarget="chat-menu" style="anchor-name: --anchor-chat-menu">⋮</button>
    <ul class="dropdown menu p-2 shadow bg-base-100 rounded-box w-52 mt-1" popover id="chat-menu" style="position-anchor: --anchor-chat-menu; position-area: bottom span-left">
      <li>
        <%= link_to new_chat_path do %>
          <span class="icon-[lucide--message-circle-plus]"></span>
          <%= t(:label_new_conversation) %>
        <% end %>
      </li>
    </ul>
    <div class="flex-none">
      <%= component :user_selector, current_user: @current_user %>
    </div>
  </header>

  <%= component :chat, current_user: @current_user, chat: @chat %>

  <%= component :chat_input, current_user: @current_user, chat: @chat %>
</div>
