<div class="grid grid-rows-[auto_1fr_auto] h-screen gap-4 p-4 relative min-h-screen bg-base-200">
  <header class="flex items-center gap-1 relative z-10">
    <div class="flex-1 pl-2">
      <%= image_tag "top_logo_dark.png", class: "logo-dark h-10", id: "logo-dark", alt: "" %>
      <%= image_tag "top_logo_light.png", class: "logo-light h-10", id: "logo-light", alt: "" %>
    </div>

    <%= link_to new_chat_path, class: "btn btn-ghost" do %>
      <span class="icon-[lucide--message-circle-plus]"></span>
      <%= t(:label_new_conversation) %>
    <% end %>

    <%= component :"chats/history_drawer" %>

    <%= link_to characters_path,
                data: { turbo_frame: "modal" },
                class: "btn btn-ghost" do %>
      <span class="icon-[lucide--users]"></span>
      <%= t(:label_characters) %>
    <% end %>

    <label class="swap swap-rotate btn btn-ghost btn-circle btn-sm">
      <input type="checkbox"
             class="theme-mode-controller"
             data-action="change->theme#toggle"
             aria-label="Toggle theme"/>
      <span class="swap-off icon-[lucide--sun] w-4 h-4"></span>
      <span class="swap-on icon-[lucide--moon] w-4 h-4"></span>
    </label>

    <%= component :"characters/selector", current_partner:, current_user: %>

    <%= component :"ui/profile_menu", current_user: %>
  </header>

  <%= component :"chats/chat", current_character:, chat: %>

  <%= component :"chats/chat_input", current_character:, chat: %>
</div>
