<tr id="<%= row_id %>" class="<%= row_class %>">
  <td><%= agent.name %></td>
  <td><%= model_text %></td>
  <td><%= thinking_text %></td>
  <td><%= mcp_servers_text %></td>
  <td class="w-1">
    <div class="flex justify-end gap-2">
      <%= edit_action %>
      <%= delete_action %>
    </div>
  </td>
</tr>
