<% link_opts = {
  data: { turbo_frame: "modal" },
  avatar_class: "w-20 h-20"
} %>
<%= component :"ui/modal" do |m| %>
  <% m.with_title do %>
    <span><%= t(:label_characters) %></span>
  <% end %>

  <div class="space-y-5 max-h-[70vh] overflow-y-auto pr-1">

    <fieldset class="space-y-2 border-t border-base-300">
      <legend class="text-sm font-semibold opacity-80"><%= t(:label_human_characters) %></legend>
      <ul class="menu menu-horizontal flex-wrap items-start justify-evenly gap-1">
        <% @human_characters.each do |character| %>
          <li>
            <%= link_to_character character,
                                  edit_character_path(character, refresh: characters_path),
                                  **link_opts %>
          </li>
        <% end %>
      </ul>
    </fieldset>

    <fieldset class="space-y-2 border-t border-base-300">
      <legend class="text-sm font-semibold opacity-80"><%= t(:label_ai_characters) %></legend>
      <ul class="menu menu-horizontal flex-wrap items-start justify-evenly gap-1">
        <% @ai_characters.each do |character| %>
          <li>
            <%= link_to_character character,
                                  edit_character_path(character, refresh: characters_path),
                                  **link_opts %>
          </li>
        <% end %>
        <li>
          <%= link_to_new_character new_character_path(refresh: characters_path),
                                    **link_opts
          %>
        </li>
      </ul>
    </fieldset>

    <fieldset class="space-y-2 border-t border-base-300">
      <legend class="text-sm font-semibold opacity-80"><%= t(:label_other_characters) %></legend>
      <ul class="menu menu-horizontal flex-wrap items-start justify-evenly gap-1">
        <% @other_characters.each do |character| %>
          <li>
            <%= link_to_character character,
                                  edit_character_path(character, refresh: characters_path),
                                  **link_opts %>
          </li>
        <% end %>
      </ul>
    </fieldset>

  </div>
<% end %>
