<% link_opts = {
  avatar_class: "w-20 h-20",
  data: { turbo_stream: true },
} %>

<div class="space-y-5">
  <% if human_characters.any? %>
    <fieldset class="space-y-2 border-t border-base-300">
      <legend class="text-sm font-semibold opacity-80"><%= t(:label_human_characters) %></legend>
      <ul class="menu menu-horizontal flex-wrap items-start justify-evenly gap-1">
        <% human_characters.each do |character| %>
          <li>
            <%= link_to_character character,
                                  edit_character_path(character),
                                  **link_opts %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  <% end %>

  <fieldset class="space-y-2 border-t border-base-300">
    <legend class="text-sm font-semibold opacity-80"><%= t(:label_ai_characters) %></legend>
    <ul class="menu menu-horizontal flex-wrap items-start justify-evenly gap-1">
      <% ai_characters.each do |character| %>
        <li>
          <%= link_to_character character,
                                edit_character_path(character),
                                **link_opts %>
        </li>
      <% end %>
      <li>
        <%= link_to_new_character new_character_path,
                                  **link_opts
        %>
      </li>
    </ul>
  </fieldset>

  <% if other_characters.any? %>
    <fieldset class="space-y-2 border-t border-base-300">
      <legend class="text-sm font-semibold opacity-80"><%= t(:label_other_characters) %></legend>
      <ul class="menu menu-horizontal flex-wrap items-start justify-evenly gap-1">
        <% other_characters.each do |character| %>
          <li>
            <%= link_to_character character,
                                  edit_character_path(character),
                                  **link_opts %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  <% end %>

</div>
