<div class="dropdown dropdown-end ml-1 group">
  <button class="btn btn-ghost gap-2 px-2 shrink-0">
    <%= avatar_for_character(current_partner) %>
    <span class="font-bold hidden xl:inline"><%= current_partner&.name %></span>
    <span class="icon-[lucide--chevron-down] w-4 h-4 opacity-70 transition-transform group-focus-within:rotate-180"></span>
  </button>

  <div class="dropdown-content p-1 shadow-lg bg-base-100 max-w-xl rounded-box mt-1 border border-base-300 overflow-x-auto" id="character-selector">
    <ul class="menu menu-horizontal items-start flex-nowrap gap-1">
      <% character_options.each do |character| %>
        <li class="relative group/character-item">
          <%= link_to_character character,
                                select_character_path(character.id),
                                data: { turbo_method: :post },
                                avatar_class: "w-20 h-20" %>

          <%= link_to edit_character_path(character),
                      class: "btn btn-circle bg-base-100 hover:btn-neutral hover:bg-neutral btn-xs absolute top-1 right-1 opacity-0 pointer-events-none transition-opacity group-hover/character-item:opacity-100 group-focus-within/character-item:opacity-100 group-hover/character-item:pointer-events-auto group-focus-within/character-item:pointer-events-auto",
                      data: { turbo_stream: true },
                      aria: { label: t(:label_edit_character) } do %>
            <span class="icon-[lucide--square-pen] w-3.5 h-3.5"></span>
          <% end %>
        </li>
      <% end %>

      <li>
        <%= link_to_new_character new_character_path(select_on_save: 1),
                                  data: { turbo_stream: true },
                                  avatar_class: "w-20 h-20" %>
      </li>
    </ul>
  </div>
</div>
