<th class="<%= th_class %>">
  <% if sortable? %>
    <%= helpers.sort_link header.search,
                          sort,
                          hide_indicator: true,
                          class: header.sort_classes(sort),
                          data: { turbo_frame: header.datatable.results_frame_id },
                          header.datatable.page_param.to_sym => nil do %>
      <span><%= content %></span>
      <span aria-hidden="true" class="<%= helpers.class_names(header.sort_indicator_icon_class(sort), 'h-4 w-4') %>"></span>
    <% end %>
  <% else %>
    <%= content %>
  <% end %>
</th>
