<%= helpers.turbo_frame_tag datatable.results_frame_id,
                            data: {
                              datatable_target: "resultsFrame",
                              current_sort_value: datatable.current_sort_value
                            },
                            action: "turbo:before-fetch-request->datatable#beforeRefresh turbo:frame-load->datatable#afterRefresh" do %>
  <% if top_pagination_visible? %>
    <div class="<%= top_pagination_classes %>">
      <%= render pagination_component %>
    </div>
  <% end %>

  <% if empty? %>
    <div class="<%= empty_state_classes %>">
      <%= t(empty_state_i18n_key) %>
    </div>
  <% else %>
    <div class="<%= table_wrapper_classes %>">
      <table class="<%= table_classes %>">
        <%= render header_component %>
        <tbody id="<%= body_id %>">
          <% records.each do |record| %>
            <%= render row_component(record) %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if bottom_section_visible? %>
    <div class="<%= bottom_layout_classes %>">
      <%= render footer_component if footer_component.visible? %>
      <% if bottom_spacer_visible? %>
        <span class="<%= bottom_spacer_classes %>"></span>
      <% end %>
      <%= render pagination_component if bottom_pagination_visible? %>
    </div>
  <% end %>
<% end %>
