<!DOCTYPE html>
<html data-controller="theme">
<head>
  <title><%= content_for(:title) || "Ai" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body data-controller="form-errors">
  <%= turbo_frame_tag "modal" %>
<%= yield %>

<div id="top-alerts" class="flash-stack fixed top-4 left-1/2 -translate-x-1/2 z-50 w-full max-w-2xl px-4 space-y-2 pointer-events-none">
  <% if flash.any? || content_for?(:top_alerts) %>
    <% flash.each do |type, message| %>
      <% next if message.blank? %>
      <%= component :flash_alert, type:, message: %>
    <% end %>
    <%= yield :top_alerts %>
  <% end %>
</div>

<%= render 'shared/turbo_confirm_modal' %>
</body>
</html>
